<div class="mt-16 py-8 border-t-2 dark:border-gray-700 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 bg-indigo-500 rounded-full mr-2 flex justify-center items-center text-white">JH</div>
    <span class="text-lg font-medium dark:text-soft-white">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1 dark:text-soft-white">An aspiring Developer + Designer.</p>
</div>