<footer class="mt-8 bg-gray-200 dark:bg-gray-700 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right dark:text-soft-white" id="footerLinkColor">
      {% if site.codepen != "" %}
        <a href={{ site.codepen }}>CodePen</a> 
      {% endif %}

      {% if site.linkedin != "" %}
        &middot; <a href={{ site.linkedin }}>LinkedIn</a>
      {% endif %}

      {% if site.portfolio != "" %}
        &middot; <a href={{ site.portfolio }}>Portolio</a>
      {% endif %}

    </p>
  </div>
</footer>