<nav>
  <ul class="flex py-2 border-b-2 mb-6">
    <li class="mr-6"><a href="/">
      {% if page.url == "/" %}
      <u>Home</u>
      {% else %}
      Home
    {% endif %}
    </a></li>
    <li class="mr-6"><a href="/tags">
      {% if page.url == "/tags/" %}
      <u>Tags</u>
      {% else %}
      Tags
    {% endif %}
    </a></li>
    <li class="mr-6"><a href="/about">
      {% if page.url == "/about/" %}
      <u>About</u>
      {% else %}
      About
    {% endif %}
    </a></li>
    <li class="mr-6"><span class="cursor-pointer" id="toggleDarkMode">
      Dark Mode
    </spam></li>
  </ul>
</nav>