.header-anchor {
  color: grey!important;
  text-decoration: none!important;
}
#proseLinkColor a:hover {
  color: #6366F1
}
#navLinkColor li:hover {
  color: #6366F1
}
#footerLinkColor a:hover {
  color: #6366F1
}
#aboutLinkColor a:hover {
  color: #6366F1
}